+++
title = "ingress-nginx"
linkTitle = "ingress-nginx"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubernetes/ingress-nginx/releases">
		Releases <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-4">Multiplayer dedicated game servers anywhere</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="light-secondary" >}}
	</div>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="secondary" %}}
<strong>What is ingress-nginx?</strong>

An open source Kubernetes ingress controller providing the control plane for <a class="text-primary" href="https://www.nginx.org">NGINX</a>.
{{% /blocks/lead %}}

{{< blocks/section color="secondary"  >}}
{{% blocks/feature icon="fab fa-slack" title="Join us on Slack" url="https://kubernetes.slack.com" url_text="Join us" %}}
Join the community on Slack in the #ingress-nginx channel
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kubernetes/ingress-nginx" url_text="Contribute to ingress-nginx" %}}
  We do a [Pull Request](https://github.com/kubernetes/ingress-nginx/pulls) contributions workflow on **GitHub**.

  New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/IngressNGINX" url_text="Follow us" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
